## Сервис доступа к данным

1. Написать слой доступа к данным на базе библиотеки SQLAlchemy
2. Реализовать REST сервис, возвращающий количество просмотров в каждой категории `category` в рамках сессии `session_id`. В зависимости от параметра, возвращать нужно либо относительное количество в процентах от общего, либо абсолютные величины

### Код SQL для формирования таблицы с количеством запросов в каждой категории
SELECT a.session_id, cat_A, cat_B, cat_C, cat_D, gender FROM
(SELECT  session_id
,COUNT(distinct category_a) AS cat_A
,COUNT(distinct category_b) AS cat_B
,COUNT(distinct category_c) AS cat_C
,COUNT(distinct category_d) AS cat_D
FROM ftp.product
GROUP BY session_id) a
JOIN ftp.session ON a.session_id=session.session_id

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("/Users/Xenia/Downloads/views_by_cat")

In [3]:
data.head()

  session_id  cat_A  cat_B  cat_C  cat_D  gender
0     u10001      1      1      1      1  female
1     u10002      1      1      1      1  female
2     u10003      1      1      6     12  female
3     u10004      1      1      1      1  female
4     u10005      1      1      2      3  female

In [4]:
## id = 'u25001'
id=input('Enter session_id ')

Enter session_idu25001

In [8]:
p=input('Value for parameter ')
p=int(p)

Value for parameter 1

In [9]:
def function1(id, p):
    dd=data[data.session_id==id][['cat_A','cat_B','cat_C','cat_D']]
    if p == 1 :
        d=dd.values
        print('Views in category A',d[0,0])
        print('Views in category B',d[0,1])
        print('Views in category C',d[0,2])
        print('Views in category D',d[0,3])
    elif p == 2:
        d=dd.values
        s=sum(dd.values[0,:])
        print('Views in category A',d[0,0]/s*100,'%')
        print('Views in category B',d[0,1]/s*100,'%')
        print('Views in category C',d[0,2]/s*100,'%')
        print('Views in category D',d[0,3]/s*100,'%')
    else:
        print('Wrong value for parameter')

In [10]:
function1(id, p)

Views in category A 1
Views in category B 2
Views in category C 3
Views in category D 3

In [11]:
function1(id, 2)

Views in category A 11.11111111111111 %
Views in category B 22.22222222222222 %
Views in category C 33.33333333333333 %
Views in category D 33.33333333333333 %

In [12]:
function1(id, 3)

Wrong value for parameter